body{
	font-family: "Raleway", sans-serif;
	background-color:black;
}

body, html {
	height: 100%;
}


#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255,255,255,0.4);
    bottom:0;
}

#menu li {
	font-size:18px;
	float: left;
}

.sticky {
  position: fixed;
  width: 98%;
}

.sticky + .content {
  padding-top: 60px;
}

#menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover:not(.active) {
	background:rgba(124,197,227,0.8)
}

.active {
    background-color: #eebffa;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align:center;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#logo {
  width:100px;
  height:100px;

}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-size:50pt;
  text-align:center;
}





.buttom{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  list-style-type: none;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-size:20pt;
  text-align:center;
  background-color: red;
  opacity: 0.7;
  padding:20px;
}

footer {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
    background-color: white;
    position:relative;
    width:100%;
    text-align: center;
    color:black;
    font-size:14px;
    border: 1px solid transparent;
    top:120%;
    opacity: 0.8;




}

img{
	display: inline-block;
	width:50px;
	height:auto;

}
.check{
	width:10px;
	padding-left:100px;
	height:10px;
	display: inline-block;
}